.CurrentTemperature .temperature{

    font-size: 40px;
    line-height: 64px;
    vertical-align: middle;
    text-shadow: var(--text-shadow);
    }
    .CurrentTemperature .units{
        margin-top: 1px ;
        font-size: 18px;
     position: relative;
     top:-6ccpx;
        line-height: 24px;
              
    }
    .CurrentTemperature a{
        text-decoration: none;
    }