:root {
    --primary-color:#c6db22;
    --secondary-color: #269326;
    --primary-border-color: #103c10 01.5px;
    --secondary-border-color:#decc2c 01.5px;
    --primary-background-color: #f5fcc2;
    --secondary-background-color:  #fbed69;
    --primary-font-color:#2B1200;
    --secondary-font-color: #121110;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    --box-shadow-light: 0 5px 10px #23515b;
    --text-shadow: 1px 1px 2px rgb(42, 32, 32);

}

.WeatherDailyForecast{
   
    margin: 30px 0 12px 0 ;
    padding: 5px;
    font-size: 17px;
   background-color: var(--primary-background-color);
   color: #2B1200;

}
.WeatherDailyForecast  .OneDay{
    margin: 5px;
    padding: 5px;
    text-align: center ;
    border-radius: 10px;
    border: 1px solid  var(--primary-border-color);
    box-shadow: var(--box-shadow-light);
    border-style: inherit;
    
}