.WeatherForecastDay{
    
    border-radius: 10px;
    margin: 30px 0 12px 0 ;
    padding: 5px;
    font-size: 17px;
   background-color: var(--primary-background-color);
   color: #2B1200;
   box-shadow: var(--box-shadow-light);
}


.WeatherForecastDay .DailyForecastTemp-max{
    font-weight: bold;
    }
 .WeatherForecastDay .DailyForecastTemp-min{
    text-align: center;
    opacity: 0.9;
    }